
.admin-page {
   display: flex;
   height: 100vh;
   padding-top: 60px;
   
}
.sidebar {
   width: 20%;
   background-color: #6D153F;
   padding: 20px;
   border-right: 1px solid #6D153F;
   position: sticky; 
}

.sidebar button {
   display: block;
   width: calc(100% + 40px);
   margin-left: -20px; 
   margin-bottom: 15px;
   background-color: #6D153F;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color;
   font-size: calc(5px + 0.7vh + 0.7vw);
   text-align: left;
   padding-left: 10px;
   padding-top: 15px;
   padding-bottom:15px;
   letter-spacing: 2px;

}

.sidebar button:hover {
   background-color:#65183d;
}

.content {
   display: flex;
   width: 80%;
   overflow: hidden; 
}
.middle-column {
   width: 60%;
   padding: 20px;
   overflow-y: auto; 
   max-height: calc(100vh - 60px); 
}
.member-grid {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.member-grid-item {
   width: calc(33.33% - 20px);
   border: 1px solid #F7A041;
   border-radius: 6px;
   padding: 10px;
   text-align: center;
   cursor: grab;
   transition: transform 0.3s;
}
.member-grid-item:hover {
   transform: scale(1.05);
}
.middle img {
   width: 100%;
   height: auto;
}

.right-column {
   border-left: 2px solid #6D153F;
   padding: 20px;
   position: relative; 
   overflow-y: auto; 
}

.right-column ul {
   list-style-type: none;
   padding-top: 15px;
   margin: 0;
}


.right-column li {
   padding: 10px;
   margin: 5px 0;
   background-color: #6D153F;
   cursor: move;
   border: 1px solid #6D153F;
   border-radius: 7px;
   color: white;
   font-size: calc(5px + 0.7vh + 0.7vw);
   letter-spacing: 2px;
   
}

 h2 {
   font-size: calc(10px + 0.7vh + 0.7vw);
   margin: 0;
}






